<h2>Contacts: </h2>

<ul>
  <li *ngFor="let c of contactsList">
    <a [routerLink]="['/contactDetails', c.id]"> {{ c.contactName }} </a>
  </li>
</ul>


<h2>Contact List</h2>
<ul>
  <h5>Click contact to see detailed information</h5>
  <li *ngFor="let c of contactsList">
    <a [routerLink]="['/contactDetails', c.id]">
      {{c.contactName}} has an ID of {{c.id}}
    </a>
    <button (click)="deleteContact(c.id)">x</button>
    <a [routerLink]="['/contactEdit', c.id]"><button>edit</button></a>
  </li>
</ul>