<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="navbar"><h1>LOEC!</h1></div>

<form action="#" th:action="@{/person}" th:object="${person}" method="post" >
<input th:field="*{firstName}" placeholder="First Name" />
<input th:field="*{lastName}" placeholder="Last Name" />
<input th:field="*{age}" placeholder="Age" />
<button >Submit</button>
</form>

<p>This page is the root view served when visiting <a href="/" >localhost:8080/</a></p>



<div class="footer"><h1>Thank you for visiting</h1></div>
</body>
</html>