body,
html {
    min-height: 100%;
}

body {
    background-image: url("../img/paul-earle-39322-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.navbar {
    width: 100%;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0,
    

}